/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
   

}
#ConnexionPane
{
    -fx-background-image: url("Images/SKY2.jpg");
}
#acc
{
    -fx-background-image: url("Images/efel.png");
}
#ahmed
{
    -fx-background-image: url("Images/efel.png");
}
#Profil
{
    -fx-background-image: url("Images/efel.png");
}