/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url("Ahmed.jpg");

}
#ConnexionPane
{
    -fx-background-image: url("Kristou.jpg");
}
#AnchorPane
{
    -fx-background-image: url("Background.jpg");
}